version: 2
publish: &publish
  working_directory: ~/MUResourceCenter/my-app
  docker:
    - image: cimg/node:16.17.0
  steps:
    - checkout

    - run:
        name: Moving to Client
        command: ls

    - run:
        name: Installing dependencies
        command: npm ci
        
    - run:
        name: Installing Expo-CLI
        command: npm install expo-cli@6.0.5

    - run:
        name: Build Both
        command: npx eas-cli build --platform all --profile preview --non-interactive

    - run:
        name: Return to main directory
        command: cd ..
    
jobs:
  publish_to_expo_dev:
    environment:
      EXPO_RELEASE_CHANNEL: dev
    <<: *publish

  publish_to_expo_prod:
    environment:
      EXPO_RELEASE_CHANNEL: default
    <<: *publish
          
workflows:
  version: 2
  my_app:
    jobs:
      - publish_to_expo_dev:
          filters:
            branches:
              only: development
      - publish_to_expo_prod:
          filters:
            branches:
              only: staging
